.card-group {
    margin-top: 40px;
}

.cd {
    text-align: center;
}

h3 {
    color: black;
}

.g-4 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.col {
    width: 21%;
    min-width: 200px;
}
.card-text {
    color: black;
}