.navbar {
    background-color: rgba(64, 130, 162, 0.557);
    transition: 0.5s;
}

.navbar.active {
    padding-top: 20px;
    background-color: rgba(64, 130, 162, 0.557);
    transition: 0.5s;
}

.caption {
    margin-bottom: 60px;
}

.btn {
    background-color: aliceblue;
}

.navbar-nav a {
    color: white;
    font-weight: 600;
    padding-left: 7px;
    padding-right: 7px;
}

.navbar-nav a:hover {
    color: rgb(165, 76, 4);
}


.nl {
    margin-left: 10px;
}

.show {
    padding: 10px;
    background-color: rgba(64, 130, 162, 0.557);
    margin-left: 0;
}

.collapsing{
    padding: 20px;
    background-color: rgba(64, 130, 162, 0.557);
}

.collapse .mr-auto {
    margin-left: 40%;
}

.show .mr-auto {
    margin-left: 0%;
}