.shadow {
    background-color: rgba(28,49,74);
    color: white;
    padding: 0;
    margin-top: 30px;
}

.shadow span {
    color: white;
    text-decoration: none;
}

.text-center {
    color: white;
}

.ft p {
    color: white;
    text-decoration: none;
}

.box a {
    text-decoration: none;
}

.box {
    margin-top: 0;
}