.footer {
    width: 100%;
    padding-left: 20px;
    margin-top: 40px;
    padding-top:20px;
    padding-bottom:10px;
    background-color: rgba(28,49,74);
    color: white;
}

.footer1 {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.f1 h3 {
    color: white;
}

.f2 {
    margin-top: 40px;
}

.footer2 {
    text-align: center;
    color: black;
    margin-top: 10px;
    font-size: 17px;
}

.p1 {
    margin-top: 20px;
}