.abtext {
    text-align: center;
}

.abb1 {
    margin-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: justify;
}

.abb1 span {
    font-size: 24px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.abb .col .card .card-img-top {
    max-width: 200px;
    height: 200px;
    object-fit: cover;
}

.pageTitle {
    text-align: center;
}

/* .aboutus1 .col {
    width: 21%;
}

.projtext .col {
    width: 21%;
} */
